{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}


{% block content %}
    <div class="container pt-5">
        <div class="col-md-10 offset-md-7">
            <div class="card">
                {% block content_accounts %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
