{% extends 'account/base.html' %}

{% load widget_tweaks i18n %}

{% block page_meta_title %}{% trans "Login" context 'auth' %}{% endblock %}

{% block content_accounts  %}
    <div class="card-header">{% trans "Login" context 'auth' %}</div>
    <div class="card-body">
        <form
            class="login"
            method="POST"
            action="{% url 'account_login' %}">
            {% csrf_token %}

            {% include 'forms/non-field-errors.html' with form=form %}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
            {% endfor %}

            <div class="form-group">
                <label for="email">{% trans "Email" context 'auth' %}</label>
                {% include 'forms/field.html' with field=form.login form=form force_error=form.non_field_errors %}
            </div>
            <div class="form-group">
                <label for="password_confirmation">{% trans "Password" context 'auth' %}</label>
                {% include 'forms/field.html' with field=form.password form=form force_error=form.non_field_errors %}
            </div>
            <p>
                <a href="{% url 'account_reset_password' %}">{% trans "Forgotten password?" context 'auth' %}</a>
            </p>
            <div>
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button type="submit" class="btn btn-primary btn-full-width">
                    {% trans "Login" context 'auth' %}
                </button>

                {% if '/admin/' in request.GET.next or settings.DEBUG %}
                    <a class="btn btn-primary btn-block sso-login-btn"
                        href="{% url 'aldryn_sso_login' %}{% if request.GET.next %}?next={{ request.GET.next|urlencode }}{% endif %}">
                        {% trans "Login with Divio" %}
                    </a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content_accounts %}
