{% extends "account/base.html" %}

{% load i18n %}

{% block page_meta_title %}{% trans "Logout" %}{% endblock %}


{% block content_accounts %}

    <div class="card-header">{% trans "Logout" %}</div>
    <div class="card-body">
    <p>{% trans 'Are you sure you want to logout?' %}</p>
    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn btn-primary" type="submit">{% trans 'Logout' %}</button>
    </form>
    </div>

{% endblock %}
