{% extends "account/base.html" %}

{% load i18n %}

{% block page_meta_title %}{% trans "Change Password" %}{% endblock %}

{% block content_accounts  %}

    <div class="card-header">{% trans "Change Password" context 'auth' %}</div>
    <div class="card-body">

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {% include 'forms/non-field-errors.html' with form=form %}
    
            <div class="form-group">
                <label>{{ form.oldpassword.label_tag }}</label>
                {% include 'forms/field.html' with form=form field=form.oldpassword placeholder="" %}
            </div>
            <div class="form-group">
                <label>{{ form.password1.label_tag }}</label>
                {% include 'forms/field.html' with form=form field=form.password1 placeholder="" %}
            </div>
            <div class="form-group">
                <label>{{ form.password2.label_tag }}</label>
                {% include 'forms/field.html' with form=form field=form.password2 placeholder="" %}
            </div>
    
            <button type="submit" class="btn btn-primary btn-full-width">{% trans "Change Password" context 'auth' %}</button>
        </form>
    </div>
{% endblock content_accounts %}

