{% extends "account/base.html" %}

{% load widget_tweaks i18n %}

{% block page_meta_title %}{% trans "Change Password" context 'auth' %}{% endblock %}

{% block content_accounts %}
    <div class="card-header">{% trans "Reset Password" context 'auth' %}</div>
    <div class="card-body">
        <p>{% trans "Your password is now changed." context 'auth' %}</p>
    </div>
{% endblock %}
