{% extends 'account/base.html' %}

{% load widget_tweaks i18n %}

{% block page_meta_title %}{% trans "Reset Password" context 'auth' %}{% endblock %}

{% block content_accounts  %}


    <div class="card-header">{% trans "Reset Password" context 'auth' %}</div>
    <div class="card-body">
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
                
            {% include 'forms/non-field-errors.html' with form=form %}
            
            <div class="form-group">
                <label for="email">{% trans "Email" context 'auth' %}</label>
                {% include 'forms/field.html' with field=form.email form=form placeholder="" %}
            </div>
            <button type="submit" class="btn btn-primary btn-full-width">{% trans "Submit" context 'auth' %}</button>
        </form>
    </div>

{% endblock content_accounts %}
