{% extends "account/base.html" %}

{% load widget_tweaks i18n %}

{% block page_meta_title %}{% trans "Change Password" context 'auth' %}{% endblock %}

{% block content_accounts %}
    <div class="card-header">{% trans "Reset Password" context 'auth' %}</div>
    <div class="card-body">
        {% if token_fail %}<h1>{% trans "Bad Token" %}</h1>{% endif %}

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        {% else %}
            {% if form %}
                <form method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    {% include 'forms/non-field-errors.html' with form=form %}
                    
                    <div class="form-group">
                        <label for="password">{% trans "New Password" context 'auth' %}</label>
                        {% include 'forms/field.html' with field=form.password1 form=form placeholder="" %}
                    </div>
                    <div class="form-group">
                        <label for="password">{% trans "Confirm Password" context 'auth' %}</label>
                        {% include 'forms/field.html' with field=form.password2 form=form placeholder="" %}
                    </div>
                    
                    <button type="submit" class="btn btn-primary btn-full-width">{% trans "Submit" context 'auth' %}</button>
                </form>
            {% else %}
                <p>{% trans 'Your password is now changed.' %}</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock content_accounts %}
