{% extends 'account/base.html' %}

{% load widget_tweaks i18n %}

{% block page_meta_title %}{% trans "Reset Password" context 'auth' %}{% endblock %}

{% block content_accounts  %}

    <div class="card-header">{% trans "Reset Passwrd" context 'auth' %}</div>
    <div class="card-body">
        <p class="font-weight-bold">{% trans "Thank you" context 'auth' %}</p>
        <p>
            {% trans "Password reset instructions have been sent to your email." context 'auth' %}
        </p>
    </div>

{% endblock content_accounts %}
