{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content_accounts  %}

    <div class="card-header">{% trans "Set Password" %}</div>
    <div class="card-body">

        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {% include 'forms/non-field-errors.html' with form=form %}
            <div class="form-group">
                <label for="id_password1">{% trans "New Password" context 'auth' %}</label>
                {% include 'forms/field.html' with field=form.password1 form=form placeholder="" %}
            </div>
            <div class="form-group">
                <label for="id_password2">{% trans "Confirm Password" context 'auth' %}</label>
                {% include 'forms/field.html' with field=form.password2 form=form placeholder="" %}
            </div>
            <button type="submit" class="btn btn-primary btn-full-width">{% trans "Set Password" %}</button>
        </form>
    </div>
{% endblock content_accounts %}
