{% extends "account/base.html" %}

{% load i18n widget_tweaks %}

{% block page_meta_title %}
    {% trans "Registration" context 'auth' %}
{% endblock %}

{% block content_accounts %}
    <div class="card-header">{% trans "Registration" context 'auth' %}</div>
    <div class="card-body">
        <p>{% trans "Please choose a password for your access below." context 'auth' %}</p>
        {% url "account_login" as login_url %}
        <p>
            {% blocktrans context 'auth' trimmed %}
                Do you already have an account? Then register
                <a href="{{ login_url }}">here</a>.
            {% endblocktrans %}
        </p>

        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}

            {% include 'forms/non-field-errors.html' with form=form %}

            {% render_field form.email class+="hidden" readonly=true %}

            <div class="form-group">
                <label for="password">{% trans "Password" context 'auth' %}</label>
                {% include 'forms/field.html' with field=form.password1 form=form placeholder="" %}
            </div>
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit" class="btn btn-primary btn-full-width">{% trans "Submit" context 'auth' %}</button>
        </form>
    </div>
{% endblock %}
