{% load staticfiles i18n %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img class="logo" src="{% static 'global/images/coreport_logo_white.svg' %}">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="basicExampleNav">
        {% if org_current %}
            {% if org_list|length != 1 %}
                <select id="org-select" class="selectpicker ml-auto" data-live-search="true" data-width="fit">
                    {% for org in org_list %}
                        {% with is_has_overdue=org.is_has_overdue_datapoints %}
                        <option 
                            {% if org.slug == org_current.slug %}selected{% endif %}
                            data-content="
                                <span class='badge {% if is_has_overdue %}badge-danger{% else %}badge-info{% endif %}'>
                                    {% if is_has_overdue %}
                                        {{ org.get_overdue_datapoints_count }}
                                    {% else %}
                                        {{ org.get_pending_datapoints_count }}
                                    {% endif %}
                                </span>
                                <span>{{ org.name }}</span>
                            "
                        >
                            {{ org.get_url }}
                        </option>
                        {% endwith %}
                    {% endfor %}
                </select>
            {% endif %}
        {% endif %}

        <ul class="navbar-nav {% if org_list|length == 1 %} ml-auto
                              {% elif  request.user.organizations and org_list|length == 0%} ml-md-auto{% endif %}">
            {% if org_list|length == 1 %}
                <li class="nav-item navbar-text">
                    <a href="{% url "polling:pending" %}" class="filter-option-inner-inner">
                        <span class="badge {% if org_current.is_has_overdue_datapoints %}badge-danger{% else %}badge-info{% endif %}">
                            {% if org_current.is_has_overdue_datapoints %}
                                {{ org_current.get_overdue_datapoints_count }}
                            {% else %}
                                {{ org_current.get_pending_datapoints_count }}
                            {% endif %}
                        </span>
                        <span>{{ org_current.name }}</span>
                    </a>
                </li>
            {% endif %}
            {% if request.user.organizations %}
                <div class="dropdown show bootstrap-select">
                    <a class="btn dropdown-toggle" href="#" role="button"
                       id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.email }}
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'account_set_password' %}">{% trans "Change Password" context 'auth' %}</a>
                        <a class="dropdown-item" href="{% url 'account_reset_password' %}">{% trans "Reset Password" context 'auth' %}</a>
                        <a class="dropdown-item" href="{% url 'account_logout' %}">{% trans "Log out" %}</a>
                    </div>
                </div>
            {% endif %}
        </ul>
    </div>
</nav>
