{% extends "admin/change_list.html" %} {% load i18n %} 


{% block object-tools-items %}
    <li>
        <a class="historylink" href="{% url 'admin:polling_datapoint_export_confirmation' %}?preview">{% trans "Show organizations with missing data" %}</a>
    </li>
    {% include "admin/import_export/change_list_import_item.html" %}
    {{ block.super }}
{% endblock %}
