{% extends "emails/base.html" %}

{% load i18n static %}


{% block header_img_url %}
    {{ base_url }}{% static 'global/images/email_logo_kks_bl_new.png' %}
{% endblock %}


{% block content %}
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block"
        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px; font-weight:bold;"
        valign="top"
    >
        <strong>Ausstehendes Reporting für den Kantonalen Führungsstab Basel-Landschaft</strong>
    </td>
</tr>
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block"
        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
        valign="top"
    >
        Bitte melden Sie uns die Daten für das KFS-Reporting. Wir warten dringend auf Ihre Eingabe.
    </td>
</tr>
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block" itemprop="handler"
        itemscope
        itemtype="http://schema.org/HttpActionHandler"
        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px; text-align:center;"
        valign="top"
    >
        <a href="{{ base_url }}{% url 'polling:pending' %}"
           class="btn-primary" itemprop="url"
           style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background-color: #ee2629; margin: 0; border-color: #ee2629; border-style: solid; border-width: 10px 20px;"
        >{% trans "Link" %}</a>
    </td>
</tr>
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block"
        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
        valign="top"
    >
        Bei Fragen zögern Sie nicht, uns über die E-Mail
        <a
            href="mailto:{{ settings.DEFAULT_REPLY_TO_EMAIL }}"
            rel="noopener"
            style="text-decoration: underline; color: #0000FF;"
            target="_blank"
        >{{ settings.DEFAULT_REPLY_TO_EMAIL }}</a> zu kontaktieren.
    </td>
</tr>
{% endblock %}
