{% extends "base.html" %}

{% load i18n tz %}

{% block page_meta_title %}{% trans "Past Answers" %}{% endblock %}

{% get_current_timezone as TIME_ZONE %}

{% block content %}
    <div class="mb-4">
        <a href="{% url "polling:pending_for_org" org_slug=org_current.slug %}" id="back-link">&#8249; {% trans "Back" %}</a>
    </div>

    {% include "polling/includes/metric_history_table.html" %}

    <p class="small text-secondary">
        {% blocktrans trimmed with timezone=TIME_ZONE %}All times shown in <code>{{ timezone }}</code> timezone.{% endblocktrans %}
    </p>
{% endblock %}
