{% extends "base.html" %}

{% load i18n %}

{% block page_meta_title %}{% trans "Pending Reports" %}{% endblock %}

{% block content %}
    <div class="col-md-20 offset-md-2">
        {% if not metrics %}
            <div class="alert alert-info" role="alert">
                {% trans "You don't have any pending reports." %}
            </div>
        {% endif %}

        {% for org_metric in metrics %}
            {% with has_status=org_metric.metric.has_status has_number=org_metric.metric.has_number has_text=org_metric.metric.has_text %}
                <div class="card slot-container mb-4">
                    <div class="card-header">
                        <strong>{{ org_metric.metric.question }}</strong>
                    </div>
                    {% if org_metric.metric.help_text %}
                        <div class="card-body border-bottom">
                            {{ org_metric.metric.help_text|linebreaksbr }}
                        </div>
                    {% endif %}
                    <div class="card-body p-0">
                        <div class="row grid-divider">
                            {% with datapoint=org_metric.last_entry %}
                                <div class="col-md-6 order-md-first order-last text-center p-4">
                                    <p class="mb-1"><strong>{% trans "Last entry" %}</strong></p>
                                    <p class="small" >
                                        {% trans "Not yet submitted" as default %}
                                        {{ datapoint.timeslot.deadline|date:"d.m.Y H:i"|default:default }}
                                    </p>
                                    {% if datapoint.is_type_numeric %}
                                        <h4 class="h1 text-secondary slot-number">
                                            {% if datapoint.is_submitted %}
                                                {{ datapoint.numeric_value }}
                                            {% else %}
                                                –
                                            {% endif %}
                                        </h4>
                                    {% endif %}
                                    {% if datapoint.is_type_status %}
                                        <h4>
                                            <span class="badge badge-pill badge-{{ datapoint.get_status_value_class|default:"light border border-secondary" }}" style="width: 100px;">
                                                {% if datapoint.is_submitted %}
                                                    <span class="small">{{ datapoint.get_status_value_display }}</span>
                                                {% else %}
                                                    &mdash;
                                                {% endif %}
                                            </span>
                                        </h4>
                                    {% endif %}
                                    <div class="pt-3">
                                        <a class="small" href="{% url "polling:metric-history" org_slug=org_current.slug pk=org_metric.metric.pk %}">{% trans "All entries" %}</a>
                                    </div>
                                </div>
                            {% endwith %}
                            <div class="col-md-18 slot-details">
                                {% for datapoint in org_metric.to_fill %}
                                    {% with form=datapoint.get_form is_bound=form.value.initial %}
                                        {% if form.is_filled %}

                                        {% endif %}
                                        <form
                                            id="form-{{datapoint.pk}}"
                                            action="{% url "polling:json-submit" pk=datapoint.pk %}"
                                            method="post"
                                            class="slot slot-form"
                                            data-time="{{ datapoint.timeslot.deadline|date:"d.m.Y H:i" }}"
                                            data-is-filled="{{ form.is_filled|lower }}"
                                            data-name="{{ org_metric.metric.question }}"
                                            data-is-text="{{ datapoint.is_text|lower }}"
                                        >
                                            {% csrf_token %}
                                            <div class="">
                                                <p class="pb-0 mb-0{% if datapoint.is_overdue and not datapoint.is_optional %} text-danger{% endif %}">
                                                    <strong>
                                                        {% blocktrans trimmed with deadline=datapoint.timeslot.deadline|date:"d.m.Y, H:i" %}
                                                            Answer for {{ deadline }}
                                                        {% endblocktrans %}
                                                    </strong>
                                                </p>
                                                <p class="small text-secondary">{{ org_metric.metric.polling_frequency.name }}</p>
                                            </div>

                                            <div class="form-inline">
                                                {% if has_status or has_number %}
                                                    {% if has_status %}
                                                        {% include 'forms/field.html' with field=form.value form=form %}
                                                    {% endif %}

                                                    {% if has_number %}
                                                        {% include 'forms/field.html' with field=form.value form=form %}
                                                    {% endif %}
                                                {% elif has_text  %}
                                                    {% include 'forms/field.html' with field=form.value form=form %}
                                                {% endif %}

                                                <button id="confirm-submit-{{ datapoint.pk }}"
                                                        class="btn form-submit-btn btn-primary mt-2 ml-md-2 ml-sm-0 mt-md-0 mr-sm-2"
                                                        type="button"
                                                >
                                                {% trans "Save" %}
                                                </button>

                                                <span 
                                                    class="mr-sm-2 ml-2 edit-btn"
                                                    data-is-visible="{{ form.is_filled|lower }}"
                                                >
                                                    {% include 'polling/includes/edit-icon.svg' %}{% trans "Edit" context 'question' %}
                                                </span>
                                            </div>
                                            {% if has_status or has_number %}
                                                {% if has_text and org_metric.metric.is_enable_comment %}
                                                    <div class="form-group mb-1 mt-2">
                                                        <label class="form-check-label">
                                                            <input id="{{ datapoint.pk }}"
                                                                   class="form-check comment-checkbox form-check-inline"
                                                                   type="checkbox"
                                                            >{% trans "Comment" %}
                                                        </label>
                                                    </div>
                                                    <div class="form-group mb-2 comment-input-container none" id="comment-input-container-{{datapoint.pk}}">
                                                        {% include 'forms/field.html' with field=form.comment form=form %}
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        
                                            <div class="error"></div>

                                        </form>
                                    {% endwith %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endwith %}
        {% endfor %}


    </div>

    <!-- Modal -->
    <div class="modal fade" id="datapoint-confirmation-modal" tabindex="-1" role="dialog"
         aria-labelledby="confirm-submit"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header container">
                    <h5 class="modal-title" id="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body container">
                    <p>
                        {% trans "Please confirm the following" %}
                    </p>
                    <div class="alert alert-primary" role="alert">
                        <p><strong>{% trans "Date" %}:&nbsp</strong><span id="time_text"></span></p>
                        <p id="value-section"><strong>{% trans "Value" %}:&nbsp</strong><span id="value_text"></span></p>
                        <p id="comment-section"><strong>{% trans "Comment" %}:&nbsp</strong><span id="comment_text"></span></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="modal-submit" class="btn btn-primary">{% trans "Confirm" %}</button>
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">{% trans "Cancel" %}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
