{% extends "base.html" %}

{% load i18n tz %}

{% block page_meta_title %}{% trans "Past Reports" %}{% endblock %}

{% get_current_timezone as TIME_ZONE %}

{% block content %}
    {% for org_metric in metrics %}
        {% include "polling/includes/metric_history_table.html" %}
    {% endfor %}

    <p class="small text-secondary">
        {% blocktrans trimmed with timezone=TIME_ZONE %}
            All times shown in <code>{{ timezone }}</code> timezone.
        {% endblocktrans %}
    </p>
{% endblock %}
