{% extends 'emails/base.html' %}

{% load static i18n %}

{% block content %}
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block"
        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px; font-weight:bold;"
        valign="top"
    >
        Reporting für den Kantonalen Führungsstab Basel-Landschaft
    </td>
</tr>
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block"
        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
        valign="top"
    >
        Willkommen bei Reporting des Kantonalen Führungsstab Basel-Landschaft (KFS). Das Reporting dient dazu, alle für die Lageeinschätzung relevanten Daten zum Kanton Basel-Landschaft zu erheben und konsolidiert diese in einer Lageübersicht.
    </td>
</tr>
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block"
        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
        valign="top"
    >
        Bitte vervollständigen Sie Ihren Zugang hier:
    </td>
</tr>
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block" itemprop="handler"
        itemscope
        itemtype="http://schema.org/HttpActionHandler"
        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px; text-align:center;"
        valign="top"
    >
        <a href="{{ base_url }}{{ invitation.get_url }}"
           class="btn-primary" itemprop="url"
           style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; background-color: #ee2629; margin: 0; border-color: #ee2629; border-style: solid; border-width: 10px 20px;"
        >Zugang erstellen</a>
    </td>
</tr>
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block"
        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
        valign="top"
    >
        (<strong>Achtung:</strong> Diese E-Mail wurde im Auftrag des KFS. Bei Rückfragen, wenden Sie sich bitte an die Ihnen bekannten Personen des Lagedienstes oder der Geschäftsstelle des KFS).
    </td>
</tr>
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block"
        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
        valign="top"
    >
        Nach der Anmeldung finden Sie weitere Informationen zu den Daten, die wir von Ihnen regelmässig abfragen. Wir weisen Sie darauf hin, dass wir diese Information zur Führung der Lage im Kanton Basel-Landschaft benötigen. Um den Prozess so einfach wie möglich für Sie zu machen, haben wir das Tool auch für den Einsatz über ein Mobile konfiguriert.
    </td>
</tr>
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block"
        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
        valign="top"
    >
        Bei Fragen zögern Sie nicht, uns über die E-Mail <a href="mailto:{{ settings.DEFAULT_REPLY_TO_EMAIL }}">{{ settings.DEFAULT_REPLY_TO_EMAIL }}</a> zu kontaktieren
    </td>
</tr>
{% endblock %}
