{% extends 'emails/base.html' %}

{% load static i18n %}

{% block header_img_url %}
    {{ request.scheme }}://{{ request.get_host }}{% static 'global/images/email_logo_kks_bl_new.png' %}
{% endblock %}

{% block content %}
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block"
        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
        valign="top"
    >
        {% blocktrans trimmed with site_name=current_site.name site_domain=current_site.domain %}
            Hello from {{ site_name }}!
            <br><br>
            You're receiving this e-mail because you or someone else has requested a password for your user account.
            <br><br>
            It can be safely ignored if you did not request a password reset. Click the link below to reset your password.
        {% endblocktrans %}
    </td>
</tr>
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block" itemprop="handler"
        itemscope
        itemtype="http://schema.org/HttpActionHandler"
        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px; text-align:center;"
        valign="top"
    >
        <a href="{{ password_reset_url }}"
           class="btn-primary" itemprop="url"
           style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; background-color: #ee2629; margin: 0; border-color: #ee2629; border-style: solid; border-width: 10px 20px;"
        >{% trans "Reset password" context 'auth-mail' %}</a>
    </td>
</tr>
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block"
        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
        valign="top"
    >
        Bei Fragen zögern Sie nicht, uns über die E-Mail
        <a
            href="mailto:dashboard.kfs@bl.ch"
            rel="noopener"
            style="text-decoration: underline; color: #0000FF;"
            target="_blank"
        >dashboard.kfs@bl.ch</a> zu kontaktieren.
    </td>
</tr>
{% endblock %}
