{% extends 'base.html' %}
{% load i18n staticfiles sekizai_tags %}

{% block page_meta_title %}{% trans "Page not found" %}{% endblock %}

{% block content %}
    <div class="container pt-5">
        <div class="col-md-10 offset-md-7">
            <div class="card">
                    <div class="card-header">{% trans "Page not found" %}</div>
                    <div class="card-body">
                        <a class="btn btn-primary"
                            href="{% url "polling:pending" %}">
                            {% trans "Go back to the homepage" %}
                        </a>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
