{% load staticfiles i18n sekizai_tags %}

<!DOCTYPE html>

<html lang="{% get_current_language as LANGUAGE_CODE %}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>
            {% block page_meta_title %}{% endblock %} | {{ request.site.name }}
        </title>

        <link rel="shortcut icon" href="{% static 'global/images/coreport_logomark_black.png' %}" type="image/x-icon"/>

        {% render_block 'css' %}

        <script>
            window.DJANGO = {
                env: `{{ settings.DIVIO_ENV.value }}`,
            };
        </script>

        {% if settings.DIVIO_ENV.value == 'local' %}

            <script defer src="{{ settings.WEBPACK_DEV_URL }}vendor.bundle.js"></script>
            <script defer src="{{ settings.WEBPACK_DEV_URL }}global.bundle.js"></script>

            <link rel="stylesheet" href="{{ settings.WEBPACK_DEV_URL }}vendor.css">
            <link rel="stylesheet" href="{{ settings.WEBPACK_DEV_URL }}global.css">

            {% block head_local_frontend_files %}{% endblock %}

        {% else %}

            <script defer src="{% static 'dist/vendor.js' %}"></script>
            <script defer src="{% static 'dist/global.js' %}"></script>

            <link rel="stylesheet" href="{% static 'dist/vendor.css' %}">
            <link rel="stylesheet" href="{% static 'dist/global.css' %}">

            {% block head_prod_frontend_files %}{% endblock %}
        {% endif %}

        {% render_block 'head_frontend_files' %}

        {% block head %}{% endblock %}
    </head>

    <body id="page-top" class="lang-{{ LANGUAGE_CODE }} {% render_block 'body_classes' %}">

        {% include 'includes/nav.html' %}
    
        {% block content_before %}{% endblock %}

        <div id="wrapper" class="wrapper">

            <div class="container">

                {% block messages %}
                    {% include 'includes/messages.html' with messages=messages %}
                {% endblock messages %}

                {% block content %}{% endblock %}

            </div>
        </div>

        {% block content_after %}{% endblock %}

        {% render_block 'js' %}
    </body>
</html>
