.form-check-label {
    display: flex;
    align-items: baseline;
    
    &[data-is-disabled=true] {
        color: gray;
    }
}

.signup {
    .hidden {
        display: none;
    }
}

.form-group {
    .error {
        color: red;
    }
}

.form-control:disabled, .form-control[readonly] {
    color: #8c8c8c;
    background-color: white;
    opacity: 1;
}

.slot-form {
    .edit-btn {
        align-items: center;
        display: flex;
        color: #007bff;
        align-self: center;
        cursor: pointer;
        
        &:hover {
            color: #0056b3;
            text-decoration: underline;
        }
        
        svg {
            margin-right: 6px;
        }
        
        &[data-is-visible=false] {
            display: none;
        }
        @include media-breakpoint-down(xs) {
            margin-top: 8px;
        }
    }
    .form-submit-btn {
        align-self: flex-start;
        
        @include media-breakpoint-only(sm) {
            margin-top: 0 !important;
            margin-left: 8px !important;
        }
    }
    
    .error {
        color: red;
    }

    &[data-is-text=true] {
        @include media-breakpoint-down(lg) {
            .form-submit-btn {
                margin-left: 0 !important;
                margin-top: 8px !important;
            }
        }
    }
}
