html, body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.wrapper {
    padding-top: 2.5rem;
    flex: 1;
    @media (max-width: 767px) {
        padding-top: 0.5rem;
    }
}

.footer-nav {
    background: #F7F7F9 !important
}

.navbar-brand {
    .logo {
        width: 138px;
        height: 28px;
    }
}

.none {
    display: none;
}

.time-input {
    width: 74px !important;
}

@media (max-width: 767px) {
    .navbar-nav {
        flex-direction: column !important;
    }
    .navbar-nav .navbar-text {
        padding: 0 15px;
    }
}

.multi-entry-form {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    margin-bottom: 1rem;
    
    .entry {
        
        
        .date {
            margin-right: 3.4rem;
            margin-top: 4px;
        }
        
        .form-check-inline, .form-check-label {
            margin-top: -6px;
        }
        
        &:not(:last-child) {
            border-bottom: 1px solid rgba(0, 0, 0, .125);
        }
        
        padding-bottom: 0.5rem;
        padding-top: 0.8rem;
        
        
        &:first-child {
            padding-top: 0.1rem;
        }
    }
}

.cases-table thead th {
    border-bottom: 1px solid #dee2e6;
}

.cases-table tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .03);
}


.card {
    .card-header {
        font-size: 18px;
    }
    
    @media (max-width: 767px) {
        .card-header {
            font-size: 16px;
        }
    }
}


.btn-full-width {
    width: 100%;
}

.modal-footer {
    justify-content: flex-start;
}


.alert-danger .errorlist {
    margin-bottom: 0;
    padding: 0;
    
    li:only-child {
        margin-left: 2em;
    }
    
    li:only-child {
        margin-left: 0;
        display: block;
    }
}
