@import '~bootstrap/scss/mixins/breakpoints';

.navbar {
    
    .navbar-collapse {

        @include media-breakpoint-down(md) {
            flex-direction: column;
            align-items: flex-start;
            &.show {
                display: flex;
            }
        }

        .navbar-nav {
            flex-direction: row;
            
            .nav-item {
                padding: 0 15px;
                
                .nav-link {
                    padding: 0;
                }
                
                @include media-breakpoint-down(md) {
                    padding: 0;
                    margin-bottom: 15px;
                }
            }

            .navbar-text {
                display: flex;
                align-items: center;
                padding: 0 15px;
                
                @include media-breakpoint-down(md) {
                    padding: 0;
                }
            }
            
            @include media-breakpoint-down(md) {
                flex-direction: column;
                &:first-child {
                    margin-top: 12px;
                }
            }
        }
        .filter-option-inner-inner {
            .badge {
                margin-right: 2px;
                vertical-align: middle;
            }
        }

        .bootstrap-select {
            display: flex;
            margin-right: 15px;

            @include media-breakpoint-down(md) {
                margin-left: unset !important;
                margin-bottom: 15px;
                flex-direction: column;
            }

            .btn {
                background: #343a40;
                border: none;
                color: rgba(255, 255, 255, 0.5);
                $active-color: #ffffffcf;
                $active-background: #00000042;
                &:hover {
                    background: $active-background;
                    color: $active-color;
                }
                &::after {
                    margin-left: 10px;
                }
                &:focus {
                    outline: none !important;
                }
                &:active {
                    color: $active-color;
                }
                &[aria-expanded='true'] {
                    background: $active-background;
                    color: $active-color;
                    box-shadow: 0 0 0 1px $active-color;
                }
                @include media-breakpoint-down(md) {
                    margin-top: 15px;
                    width: fit-content;
                    background: unset;
                    padding: 0;
                    &:hover {
                        background: unset;
                    }
                    &:focus {
                        box-shadow: none;
                    }
                    &[aria-expanded='true'] {
                        box-shadow: none;
                    }
                }
            }
            
            .dropdown-item {

                .text {
                    span {
                        vertical-align: middle;
                    }
                    .badge {
                        margin-right: 2px;
                    }
                }
                &.active:hover {
                    color: white !important;
                }
                &:active {
                    color: white !important;
                }
            }
        }

        .bootstrap-select.dropdown {
            &:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
                min-width: 220px;
                width: fit-content;
            }
            

            @include media-breakpoint-down(md) {
                flex-direction: column;
            }

            @media screen and (-ms-high-contrast: none) and (max-width: 991.98px) {
                margin-left: inherit !important;
            }
        }
    }
}
