.slot-container {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    
    .card-header {
        .badge {
            margin-bottom: 6px;
            margin-top: 9px;
            display: table;
        }
    }
    
    .slot select {
        width: 32%;
    }
    
    .btn-primary {
        min-width: 120px;
    }
    
    @media (max-width: 767px) {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        .slot select {
            width: 100%;
        }
    }
    
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    
    .slot-details {
        padding-left: 0;
        padding-right: 0;
    }
    
    .grid-divider {
        overflow-x: hidden; //quickfix to hide divider on left side
        position: relative;
        @media (max-width: 767px) {
            .order-last {
                border-top: 1px solid rgba(0, 0, 0, .125);
            }
        }
    }
    
    .grid-divider > [class*='col-']:nth-child(n + 2):after {
        content: '';
        background-color: rgba(0, 0, 0, .125);
        position: absolute;
        top: 0;
        bottom: 0;
        
        @media (max-width: 767px) {
            width: 100%;
            height: 1px;
            left: 0;
            top: -4px; // quickfix to center line between columns
        }
        @media (min-width: 768px) {
            width: 1px;
            height: auto;
            left: -0px; // quickfix to hide divider on left side
        }
    }
    
    .slot {
        
        padding: 1.5rem;
        
        .alert-danger {
            background: #FDF6F6;
            color: #D9534F;
            border: none;
        }
        
        .card-header {
            font-size: 22px;
        }
        
        .slot-number {
            font-size: 44px;
        }
        
        &:not(:last-child) {
            border-bottom: 1px solid rgba(0, 0, 0, .125);
        }
    }
    
    .slot:nth-child(n + 2):after {
        content: '';
        background-color: rgba(0, 0, 0, .125);
        position: absolute;
        left: 0;
        right: 0;
        
        @media (max-width: 767px) {
            width: 100%;
            height: 1px;
            left: 0;
            top: -4px; // quickfix to center line between columns
        }
        @media (min-width: 768px) {
            width: 1px;
            height: auto;
            left: -12px; // quickfix to hide divider on left side
        }
    }
}
