{% extends "admin/base_site.html" %}

{% load i18n static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
    {{ media.css }}
{% endblock %}

{% block title %}{% trans "Answer check (Organizations)" context 'admin' %} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans "Home" %}</a>
        ›
        <a href="{% url 'admin:app_list' app_label="polling" %}">{% trans "Polling" %}</a>
        ›
        <a href="{% url "admin:polling_datapoint_changelist" %}">{% trans "Answers" context 'admin' %}</a>
        ›
        {% trans "Answer check (Organizations)" context 'admin' %}
    </div>
{% endblock %}

{% block content %}
    {% if org_with_missing_data_list %}

        {% if 'preview' not in request.GET %}
            {% if org_with_missing_data_list|length > 22 %}
                <form action="{% url "admin:polling_datapoint_export_confirmed" %}" method="post">
                    {% csrf_token %}
                    <input hidden name="file_format" value="{{ file_format }}">
                    <input type="submit" class="default" value="{% trans "Proceed to export" context "admin" %}">
                </form>
            {% endif %}
        {% endif %}

        <h1>{% trans "The following organizations have missing answers:" context 'admin' %}</h1>
        <div class="help">
            <p>{% trans "You can click on the organization name in order to view or update the missing answers." context 'admin' %}</p>
            <p>{% trans "After you open the link you can filter the missing answers by question using the filter on the right." context 'admin' %}</p>
        </div>
        <p><br></p>
    
        <div class="change-list #changelist">
            <table id="result_list">
                <thead>
                    <tr>
                        <th>{% trans "Name" context 'admin' %}</th>
                        <th>{% trans "Missing answers" context 'admin' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for org_missing_data in org_with_missing_data_list %}
                        <tr>
                            <td>
                                <a href="{{ org_missing_data.admin_url }}">{{ org_missing_data.organization.name }}</a>
                            </td>
                            <td>{{ org_missing_data.missing_datapoints_count }}</td>
                        </tr>
                    {% endfor %}    
                </tbody>
            </table>
        </div>
    
        {% if 'preview' not in request.GET %}
            <div class="submit-row" style="float:left; margin-top: 33px;">
                <form action="{% url "admin:polling_datapoint_export_confirmed" %}" method="post">
                    {% csrf_token %}
                    <input hidden name="file_format" value="{{ file_format }}">
                    <input type="submit" class="default" value="{% trans "Proceed to export" context "admin" %}">
                </form>
            </div>
        {% endif %}
    {% else %}
        <h1>{% trans "All data is up to date" %}</h1>
    {% endif %}

{% endblock %}
