{% load i18n %}

<h3 class="{% if org_metric.metric.help_text %}mb-3{% else %}mb-4{% endif %}">{{ org_metric.metric.question }}</h3>

{% if org_metric.metric.help_text %}
    <p class="mb-4">
        {{ org_metric.metric.help_text|linebreaksbr }}
    </p>
{% endif %}

{% if org_metric.past_datapoints %}
    {% with has_status=org_metric.metric.has_status has_number=org_metric.metric.has_number has_text=org_metric.metric.has_text %}
        <table class="table table-striped table-responsive cases-table border-bottom mb-5">
            <thead>
                <tr>
                    <th>{% trans "Date" %}</th>
                    <th class="pl-4 pr-5">{% trans "Time" %}</th>
                    {% if has_status %}<th class="text-center pl-5 pr-4">{% trans "Status" %}</th>{% endif %}
                    {% if has_number %}<th class="text-right pl-5 pr-4">{% trans "Number" %}</th>{% endif %}
                    {% if has_text %}<th class="pl-5">{% trans "Text" %}</th>{% endif %}
                </tr>
            </thead>
            <tbody>
                {% for datapoint in org_metric.past_datapoints reversed %}
                    <tr>
                        <td style="width: 120px;">{{ datapoint.timeslot.deadline|date:"d.m.Y" }}</td>
                        <td class="pl-4 pr-5">{{ datapoint.timeslot.deadline|date:"H:i" }}</td>
                        {% if has_status %}
                            <td class="text-center pl-5 pr-4">
                                <span class="badge badge-pill badge-{{ datapoint.get_status_value_class }}" style="width: 60px;">
                                    {% if datapoint.is_submitted %}
                                        {{ datapoint.get_status_value_display }}
                                    {% else %}
                                        {% trans "n/a" %}
                                    {% endif %}
                                </span>
                            </td>
                        {% endif %}
                        {% if has_number %}
                            <td class="text-right pl-5 pr-4">
                                {% if datapoint.is_submitted %}
                                    {{ datapoint.numeric_value }}
                                {% else %}
                                    <span class="text-secondary">{% trans "n/a" %}</span>
                                {% endif %}
                            </td>
                        {% endif %}
                        {% if has_text %}
                            <td style="width: 100%;" class="pl-5">
                                {% if datapoint.text_value or datapoint.comment %}
                                    {{ datapoint.text_value|default:datapoint.comment }}
                                {% else %}
                                    <span class="text-secondary">&mdash;</span>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endwith %}
{% else %}
    <div class="alert alert-info" role="alert">
        {% trans "No answers have been provided yet for this question." %}
    </div>
{% endif %}
